*.bak
Microom_hw/Microom.kicad_pcb-bak
Microom_hw/Microom.csv
Microom_hw/Microom.xml
Microom_hw/~$BOM.xlsx
Microom_fw/.settings/org.eclipse.cdt.codan.core.prefs
Microom_fw/.settings/language.settings.xml
